html,body{
    margin:0;
    line-height: 1.5;
}
.justify{
    text-align: justify;
}

header {
    /* border: 1px solid #4285f4; */
    background: #4285f4;
    /* margin: 0; */
    padding-left: 0px;
    position: fixed;
    display: block;
    width: 100%;
    /* margin-bottom: 98px; */
    height:74px;
}


.container{
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.container-full{
    padding-top: 100px;
}

h1,h2,h3{
    font-family: 'Roboto Slab', serif;
}
p,body{
    font-family:'Source Sans Pro', sans-serif;
}


.logo {
    color: #fff;
    width: 350px;
    float:left;
}
.logo img{
    width:100%;
    height:auto;
}

header nav{
    float:right;
    
}

header nav ul{
    list-style:none;
    padding: 0;
    margin: 0;
}

header nav ul li{
    display:inline-block;
}

header nav ul li a{    
    line-height:74px;
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    padding:0px 15px;
    display: inline-block;
}

header nav a:hover{
    background: #3368bf
}
input,select,textarea{
display:block;
width: 100%;
border:1px solid #ddd;
padding :7px 5px; 
margin:10px  0px;

}
*{
    transition:.3s ease;
}

.form-group{
    margin: 17px 0px;
}

button[disabled]{
    background: rgba(66, 133, 244,0.5) !important;
}

button[type=submit]{
    display:inline-block;
    color:white;
    width:auto;
    background:#4285f4;
    font-weight: bold;
    margin-top: 12px;
    width: 200px;
    font-size: large;
    padding: 19px 35px;
    outline: none;
    border: none;
    border-radius: 4px;
    display:block;
    margin:auto;
    cursor:pointer;
}

.alert {
    padding:5px 10px;
    border:1px solid red;
    margin: 5px 0px;
    border-radius:3px;
    background: rgba(197, 13, 13, 0.71);
    color:#fff;
    font-weight: bold;
    font-size: 18px;
}
.error{
    color:red;
    margin:0
}

.has-error{
    border:1px solid red;
    box-shadow: 1px 1px 3px 1px #b52431;
}

.radio input{
    display: inline-block !important;
    width: auto;
    margin: 15px !important;
}

 .checkbox input {
    display: inline-block;
    width: auto;
    margin: 15px !important;
}


.col-12{width:94%;clear:both;margin:3%;}
.col-6{width:44%;margin:3%;float:left;}


.links a{
    text-decoration:none;
    display:inline-block;
    padding:2px;
}
.links ul{
    list-style:none;
}



.links{
    width:320px;
    height:100%;
    position:fixed;
}
.links ul ul{margin-2:10px;}


.content {width:60%;margin-left:370px;}

.content  {
    color:#443f3f;
    line-height:1.5;
    border-left:1px solid #ddd;
    padding-left:30px;
}

table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}
th{
    background:rgba(221, 221, 221, 0.35);
    font-weight:bold;
    
}
td,th{
    border-bottom:1px solid #ddd;
    padding:8px 10px;
}

blockquote {
    border-left: 10px solid #c2d2fb;
    margin-left: 0px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ddd;
    margin-right: 0px;
    font-style: oblique;
}

:target:before {
  content:"";
  display:block;
  height:74px; /* fixed header height*/
  margin:-74px 0 0; /* negative fixed header height */
}
.content pre{
   background:#ddd;
    display:block;
    padding:0px 5px;
    border-radius: 3px;
    margin:5px 0px;
    font-family: monospace;
}

.info {
    border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 30px;
color: #00529B;
font-size:0.9em;
background-color: #BDE5F8;
}
.footer {
    color: #fff;
    background: #4285f4;
    padding: 10px 0px;
}

.copyright {
    text-align: center;
}